In [1]:
# 1. Import and test 3 of the functions from your functions exercise file.

#    Your functions exercise are not currently in a file with a name that can be easily imported. 
#    Copy your functions exercise file and name the copy functions_exercises.py.

#    Import each function in a different way:

#         import the module and refer to the function with the . syntax
#         use from to import the function directly
#         use from and give the function a different name

In [2]:
import functions_exercises

In [3]:
assert functions_exercises.calculate_tip(10, 100) == 110
assert functions_exercises.calculate_tip(10, 110) != 110

In [4]:
from functions_exercises import handle_commas

In [5]:
assert handle_commas('1,111') == 1111
assert handle_commas('1,111') != 1110

In [6]:
from functions_exercises import get_letter_grade as glg

In [7]:
assert glg(86) == 'B'
assert glg(86) != 'A'

In [8]:
# For the following exercises, read about and use the itertools module from the standard library 
# to help you solve the problem.

In [9]:
# 1. How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?

In [10]:
from itertools import product

list(product("abc", ('123')))

[('a', '1'),
 ('a', '2'),
 ('a', '3'),
 ('b', '1'),
 ('b', '2'),
 ('b', '3'),
 ('c', '1'),
 ('c', '2'),
 ('c', '3')]

In [11]:
len(list(product("abc", ('123'))))

9

In [12]:
# 2. How many different ways can you combine two of the letters from "abcd"?

In [13]:
from itertools import permutations

list(permutations("abcd", 2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c')]

In [14]:
len(list(permutations("abcd", 2)))

12

In [15]:
# Save this file as profiles.json inside of your exercises directory. Use the load function from the 
# json module to open this file, it will produce a list of dictionaries. Using this data, write some 
# code that calculates and outputs the following information:

In [16]:
from json import load

In [17]:
profiles = load(open("profiles.json"))

In [18]:
# Total number of users

In [19]:
len(profiles)

19

In [20]:
# Number of active users

In [21]:
len([profile for profile in profiles if profile['isActive'] == True])

9

In [22]:
# Number of inactive users

In [23]:
len([profile for profile in profiles if profile['isActive'] == False])

10

In [24]:
# Grand total of balances for all users

In [25]:
def float_convertor(num):
    return float(num.replace(',','').replace('$',''))

In [26]:
float_convertor('$12,000')

12000.0

In [27]:
profile_balances = [profile['balance'] for profile in profiles]
profile_balances

['$2,097.02',
 '$3,654.02',
 '$1,536.02',
 '$3,919.64',
 '$3,681.39',
 '$1,694.42',
 '$1,214.10',
 '$2,930.31',
 '$1,944.15',
 '$2,839.22',
 '$2,467.31',
 '$3,304.99',
 '$3,844.42',
 '$3,594.99',
 '$2,940.24',
 '$3,062.41',
 '$3,067.82',
 '$2,646.76',
 '$2,227.79']

In [28]:
newlist = []

for profile in profile_balances:
    newlist.append(float_convertor(profile))
newlist

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [29]:
total = sum(newlist)

In [30]:
# Average balance per user

In [31]:
total / len(newlist)

2771.9484210526316

In [32]:
# User with the lowest balance

In [33]:
min(newlist)

1214.1

In [34]:
minlist = []
minlist = [x for x in range(len(newlist)) if newlist[x] == min(newlist)]
minlist

[6]

In [35]:
profiles[minlist[0]]['name'], profiles[minlist[0]]['balance']

('Avery Flynn', '$1,214.10')

In [36]:
# User with the highest balance

In [37]:
maxlist = []
maxlist = [x for x in range(len(newlist)) if newlist[x] == max(newlist)]
maxlist

[3]

In [38]:
profiles[maxlist[0]]['name'], profiles[maxlist[0]]['balance']

('Fay Hammond', '$3,919.64')

In [39]:
# Most common favorite fruit

In [40]:
fruitlist = [profile['favoriteFruit'] for profile in profiles]
fruitlist

['strawberry',
 'apple',
 'banana',
 'banana',
 'apple',
 'apple',
 'banana',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'strawberry',
 'apple',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'banana',
 'strawberry']

In [41]:
fruit_count = [fruitlist.count(fruit) for fruit in fruitlist]
fruit_count

[9, 4, 6, 6, 4, 4, 6, 9, 9, 6, 9, 9, 4, 9, 9, 6, 9, 6, 9]

In [42]:
newfruitlist = list(zip(fruit_count, fruitlist))

In [43]:
newfruitlist

[(9, 'strawberry'),
 (4, 'apple'),
 (6, 'banana'),
 (6, 'banana'),
 (4, 'apple'),
 (4, 'apple'),
 (6, 'banana'),
 (9, 'strawberry'),
 (9, 'strawberry'),
 (6, 'banana'),
 (9, 'strawberry'),
 (9, 'strawberry'),
 (4, 'apple'),
 (9, 'strawberry'),
 (9, 'strawberry'),
 (6, 'banana'),
 (9, 'strawberry'),
 (6, 'banana'),
 (9, 'strawberry')]

In [44]:
max(newfruitlist)

(9, 'strawberry')

In [45]:
# Least most common favorite fruit

In [46]:
min(newfruitlist)

(4, 'apple')

In [47]:
# Total number of unread messages for all users

In [48]:
greetinglist = [profile['greeting'] for profile in profiles]
greetinglist

['Hello, Hebert Estes! You have 4 unread messages.',
 'Hello, Allison Wynn! You have 19 unread messages.',
 'Hello, Jacobs Floyd! You have 5 unread messages.',
 'Hello, Fay Hammond! You have 10 unread messages.',
 'Hello, Chasity Marsh! You have 9 unread messages.',
 'Hello, Camacho Cortez! You have 19 unread messages.',
 'Hello, Avery Flynn! You have 13 unread messages.',
 'Hello, Michael Cash! You have 17 unread messages.',
 'Hello, Madeleine Bray! You have 2 unread messages.',
 'Hello, Corine French! You have 18 unread messages.',
 'Hello, Trudy Cummings! You have 2 unread messages.',
 'Hello, Peggy Mayer! You have 13 unread messages.',
 'Hello, Chan Hurley! You have 7 unread messages.',
 'Hello, Diaz Pena! You have 13 unread messages.',
 'Hello, Heath Castaneda! You have 12 unread messages.',
 'Hello, Greer Blankenship! You have 7 unread messages.',
 'Hello, Coffey Hayes! You have 19 unread messages.',
 'Hello, Leanne Hurst! You have 5 unread messages.',
 'Hello, Ewing Larson! You have 16 unread messages.']

In [49]:
def get_digits(string):
    new_string = ''
    for s in string:
        if s.isdigit():
            new_string += s
    return new_string

In [50]:
new = []
for g in greetinglist:
    new.append(int(get_digits(g)))

sum(new)

210