Morning warmup

In [51]:
import pandas as pd

In [52]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

In [69]:
def alphabetical_value(ch) -> bool:
    return 'abcdefghijklmnopqrstuvwxyz'.index(ch.lower()) + 1

In [70]:
pd.Series(words)

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
235886
Length: 235887, dtype: object

In [71]:
df = pd.DataFrame({'word': words})

In [72]:
df['word_length'] = df.word.apply(len)

In [73]:
df = df[df['word_length'] == 5]

In [74]:
df

         word  word_length
4       aalii            5
9       Aaron            5
20      abaca            5
27      aback            5
35      abaff            5
...       ...          ...
235714  zudda            5
235749  zygal            5
235796  zygon            5
235840  zymic            5
235841  zymin            5

[10230 rows x 2 columns]

In [75]:
def test_word(word: str) -> bool:
    '''
    returns true if the alphabetical value of teh first letter
    is the same as the sum of the alphabet values of the last
    four letters
    '''
    
    first_letter, *last_four = word
    return alphabetical_value(first_letter) == sum([alphabetical_value(ch) for ch in last_four])

In [76]:
test_word('chair')

False

In [77]:
test_word('zebra')

True