In [2]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [3]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [17]:
vowels = 'aeiou'

**Example** for loop solution to add 1 to each number in the list

In [5]:
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

**Example** of using a list comprehension to create a list of the numbers plus one.

In [7]:
numbers_plus_one = [number + 1 for number in numbers]

**Example** code that creates a list of all of the list of strings in fruits and uppercases every string

In [9]:
output = []
for fruit in fruits:
    output.append(fruit.upper())

### Exercise 1** - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]

In [10]:
uppercased_fruits = [fruit.upper() for fruit in fruits]

In [12]:
print(uppercased_fruits)

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

### Exercise 2** - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

In [14]:
capitalized_fruits = [fruit.capitalize() for fruit in fruits]

In [15]:
print(capitalized_fruits)

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [104]:
import string
cap = [string.capwords(fruit) for fruit in fruits]
print(cap)

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin Orange']

### Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

In [20]:
has_vowel = False

In [75]:
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if (fruit.count('a') + fruit.count('e') 
                                                                  + fruit.count('i') + fruit.count('o') 
                                                                  + fruit.count('u')) > 2]

In [76]:
print(fruits_with_more_than_two_vowels)

['guava', 'pineapple', 'mandarin orange']

### Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']

In [73]:
fruits_with_only_two_vowels = [fruit for fruit in fruits if (fruit.count('a') + fruit.count('e') + fruit.count('i') 
                                                            + fruit.count('o') + fruit.count('u')) == 2 ]

In [74]:
print(fruits_with_only_two_vowels)

['mango', 'kiwi', 'strawberry']

### Exercise 5 - make a list that contains each fruit with more than 5 characters

In [21]:
fruit_with_more_then_five_char = [fruit for fruit in fruits if len(fruit) > 5]

In [22]:
print(fruit_with_more_then_five_char)

['strawberry', 'pineapple', 'mandarin orange']

### Exercise 6 - make a list that contains each fruit with exactly 5 characters

In [24]:
fruit_with_exactly_five_char = [fruit for fruit in fruits if len(fruit) == 5]

In [25]:
print(fruit_with_exactly_five_char)

['mango', 'guava']

### Exercise 7 - Make a list that contains fruits that have less than 5 characters

In [29]:
fruit_with_less_then_five_char = [fruit for fruit in fruits if len(fruit) < 5]

In [30]:
print(fruit_with_less_then_five_char)

['kiwi']

### Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

In [32]:
num_char_per_fruit = [len(fruit) for fruit in fruits]

In [33]:
print(num_char_per_fruit)

[5, 4, 10, 5, 9, 15]

### Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the fruits that

contain the letter "a"

In [71]:
fruits_with_letter_a = [fruit for fruit in fruits if fruit.count('a') > 0]

In [107]:
fruits_a = [fruit for fruit in fruits if "a" in fruit]

In [108]:
print(fruits_with_letter_a)
print(fruits_a)

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

### Exercise 10 - Make a variable named even_numbers that holds only the even numbers

In [37]:
even_numbers = [number for number in numbers if number % 2 == 0]

In [38]:
print(even_numbers)

[2, 4, 6, 8, 10, 256, -8, -4, -2]

### Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

In [39]:
odd_numbers = [number for number in numbers if number % 2 != 0]

In [40]:
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

### Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers

In [41]:
positive_numbers = [number for number in numbers if number > 0]

In [42]:
print(positive_numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

### Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

In [43]:
negative_numbers = [number for number in numbers if number < 0]

In [44]:
print(negative_numbers)

[-8, -4, -2, -9]

### Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals

In [54]:
two_or_more_digits = [number for number in numbers if len(str(abs(number))) >= 2]

In [55]:
print(two_or_more_digits)

[10, 11, 13, 17, 19, 23, 256]

### Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared.

Output is [4, 9, 16, etc...]

In [56]:
numbers_squared = [number ** 2 for number in numbers]

In [57]:
print(numbers_squared)

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 169, 289, 361, 529, 65536, 64, 16, 4, 25, 81]

### Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that

are both odd and negative.

In [58]:
odd_negative_number = [number for number in numbers if number < 0 and number % 2 != 0]

In [59]:
print(odd_negative_number)

[-9]

### Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five.

In [60]:
numbers_plus_5 = [number + 5 for number in numbers]

In [61]:
print(numbers_plus_5)

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

### BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list.

##### *Hint* you may want to make or find a helper function that determines if a given number is prime or not.

In [65]:
def check_prime(num):
    if num > 1:
        for n in range(2, num):
            if num % n == 0:
                return False
        return True

In [66]:
primes = [number for number in numbers if check_prime(number) == True]

In [67]:
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 5]

In [77]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

**1**  How many students are there?

In [78]:
len(students)

14

### **2** How many students prefer light coffee? For each type of coffee roast?

In [90]:
light_coffee_drinkers = [student for student in students if student['coffee_preference'] == 'light']
meduim_coffee_drinkers = [student for student in students if student['coffee_preference'] == 'medium']
dark_coffee_drinkers = [student for student in students if student['coffee_preference'] == 'dark']

print('There are {} light coffee drinkers.'.format(len(light_coffee_drinkers)))
print('There are {} meduim coffee drinkers.'.format(len(meduim_coffee_drinkers)))
print('There are {} dark coffee drinkers.'.format(len(dark_coffee_drinkers)))

There are 3 light coffee drinkers.
There are 6 meduim coffee drinkers.
There are 5 dark coffee drinkers.

### **3** How many types of each pet are there?

In [97]:
cat_count = [student for student in students if student['pets']['species'] == 'cats']
print('There are {} cats'.format(len(cat_count)))

TypeError: list indices must be integers or slices, not str

### **4** How many grades does each student have? Do they all have the same number of grades?

### **5** What is each student's grade average?

### **6** How many pets does each student have?

### **7** How many students are in web development? data science?

**8** What is the average number of pets for students in web development?

**9** What is the average pet age for students in data science?

**10** What is most frequent coffee preference for data science students?

**11** What is the least frequent coffee preference for web development students?

**12** What is the average grade for students with at least 2 pets?

**How many students have 3 pets?

**What is the average grade for students with 0 pets?

**What is the average grade for web development students? data science students?

**What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?

**What is the average number of pets for medium coffee drinkers?

**What is the most common type of pet for web development students?

**What is the average name length?

**What is the highest pet age for light coffee drinkers?